@charset "UTF-8";
@import "rest";

$font-n-color:#666;     //文字默认颜色
$font-n-color2:#919da4; //文字默认颜色 浅色
$font-h-color:#346eb4; //文字划过颜色
$n-color:#e74c3c;       //主题颜色
$n-h-color:#545d62;     //主题hover颜色
$bdr-color:#ececec;     //边框颜色
$bdr-color2:#a5a2a2;     //边框颜色2
$nav-li-with:100px;   //主导航li宽度
$nav-li-bdr:2px;      //主导航li边框宽度
$tw-block-span-wh:88px; //首页3个橙色块的宽高
//关于页标题
%about-tt{
  height: 40px;
  text-indent: -999em;
  border-bottom: 1px solid $bdr-color;
}
//带背景色的外包裹
%wrap{
  width: 100%;
  overflow: hidden;
  background: #f6f6f6;
}
%w96p{
  width: 96%;
  overflow: hidden;
}
@import "icons/*.png";
$icons:sprite-map("icons/*.png");
$icons2-spacing:20px;
@import "icons2/*.png";
$icons2:sprite-map("icons2/*.png", $spacing:20px);

%trans{-webkit-transition: all .3s ease-in-out 0s;-moz-transition: all .3s ease-in-out 0s;-ms-transition: all .3s ease-in-out 0s; -o-transition: all .3s ease-in-out 0s;transition: all .3s ease-in-out 0s;}//通用transition

body {
  color: $font-n-color;
  background: #313131;
}
a{
  color: $font-n-color;
  &:hover{color: $font-h-color;}
}
.wrap-box{
  margin: 0 auto;
  width: 1280px;
  background: #ffffff;}

.head{
  height: 120px;
  border-bottom: 1px solid $bdr-color2;
  overflow: hidden;}
.logo{
  float: left;
  margin: 40px 0 0 32px;
  width: 207px;
  height: 42px;
  overflow: hidden;
  text-indent: -999em;
  background: sprite($icons, head-logo) no-repeat;
  a{
    height: 42px;
    display: block;}
}
.nav-main{
  float: right;
  padding-right: 25px;
  height: 120px;
}
.nav-list{
  position: relative;
  float: right;
  height: 120px;
  overflow: hidden;
  li{
      margin-top: 50px;
      float: left;
      width: $nav-li-with;
      height: 20px;
      line-height: 20px;
      text-align: center;
      border-right: $nav-li-bdr solid #82898c;
      @extend %trans;
        &:hover a{
          color: $n-h-color;
        }
        a{
          font-size: 18px;
          font-size: 1.8rem;
        }
      &:nth-last-child(2){
        border-right: 0 none;}
      &:hover a {
        font-weight: bold;
      }
      &:nth-child(1):hover ~ .active-line{
        left: 0;
      }
      &:nth-child(2):hover ~ .active-line{
        left: $nav-li-with + $nav-li-bdr;
      }
      &:nth-child(3):hover ~ .active-line{
        left: ($nav-li-with + $nav-li-bdr) * 2;
      }
      &:nth-child(4):hover ~ .active-line{
        left: ($nav-li-with + $nav-li-bdr) * 3;
      }
      &:nth-child(5):hover ~ .active-line{
        left: ($nav-li-with + $nav-li-bdr) * 4;
      }
      &:nth-child(6):hover ~ .active-line{
        left: ($nav-li-with + $nav-li-bdr) * 5;
      }
      &:nth-child(7):hover ~ .active-line{
        left: ($nav-li-with + $nav-li-bdr) * 6;
      }
    }
  .active a{
    font-weight: bolder;
  }
  .active-line{
    position: absolute;
    top: -50px;
    left: 0;
    height: 6px;
    border-right: 0 none;
    background: $n-color;}
}

.slide{
  height: 500px;
  overflow: hidden;
  border-bottom: 1px solid $bdr-color2;}
.banner-tt{
  *margin-bottom: 40px;
  height: 235px;
  overflow: hidden;
    h2{
      margin: 82px auto 0 auto;
      width: 860px;
      height: 46px;
      background: sprite($icons,index-banner-tt) no-repeat;
      overflow: hidden;
      text-indent: -999em;
    }
    h3{
      margin-top: 34px;
      font-size: 34px;
      text-align: center;
      font-family: Arial;
      color: #2b363c;
    }
}
.tw-item{
  margin: 54px auto 40px auto;
  width: 990px;
  height: 130px;
  overflow: hidden;
  *display: none;
}
.tw-block{
  position: relative;
  top: 0;
  float: left;
  width: 33.33%;
/*  height: 238px;*/
  @extend %trans;
  text-align: center;
  span{
    position: relative;
    left: 50%;
    margin-left: -($tw-block-span-wh /2);
    width: $tw-block-span-wh;
    height: $tw-block-span-wh;
    border-radius: 5px;
    display: block;
                    }
  b {
    margin-top: 16px;
    display: block;
    font-size: 18px;
    font-size: 1.8rem;
  }
  p{
    margin: 2px 30px 0 30px;
  }
    &:hover{
      top: -108px;
        b,p,{color: $font-n-color;}
    }
}
.tw-block-btn{
  position: relative;
  left: 50%;
  margin-left: -50px;
  margin-top: 14px;
  width: 100px;
  height: 26px;
  line-height: 26px;
  border-radius: 5px;
  text-align: center;
  background: $n-color;
  color: #ffffff;
  font-size: 10px;
  font-size: 1rem;
  @extend %trans;
    &:hover{
      background: $n-h-color;
    }
}
.icon-hz{ background: $n-color sprite($icons,icon1) no-repeat; }
.icon-qd{ background: $n-color sprite($icons,icon2) no-repeat; }
.icon-td{ background: $n-color sprite($icons,icon3) no-repeat; }

.foot {
  height: 95px;
  background: #1c1f21;
  overflow: hidden;
    em{
      font-size: 14px;
      font-size: 1.4rem;
      padding-left: 85px;
      line-height: 95px;
      color: #ffffff;}
}
.foot-nav{
  padding: 38px 60px 0 0;
  float: right;
    li{
      margin-right: 30px;
      display: inline;
        a{
          font-size: 14px;
          font-size: 1.4rem;
          color: #6f6f6f;
          @extend %trans;
          &:hover{
            color: #ffffff;}
        }
    }
}

/*服务介绍页*/
.serve-warp{
  @extend %wrap;
}
.serve-tt{
  margin: 0 auto;
  @extend %w96p;
  height: 222px;
  border-bottom: 1px solid $bdr-color;
    em{
      margin: 94px auto 0 auto;
      width: 753px;
      height: 56px;
      display: block;
      background: sprite($icons,serve-tt) no-repeat;}
}
.serve-section{
  margin: 0 auto;
  @extend %w96p;
    h3{
      text-indent: -999em;
      height: 45px;
    }
    p{
      margin-top: 10px;
      font-size: 16px;
      font-size: 1.6rem;
    }
}
.serve-bg1{
  height: 600px;
  background: url(../images/1.png) 100px 36px no-repeat;
    article{
      margin: 22% 10% 0 0;
      float: right;
      width: 430px;
        h3{
          background: sprite($icons,serve1) no-repeat;}
        }
}
.serve-bg2{
  height: 770px;
  background: url(../images/2.png) center no-repeat;
  article{
    margin: 8% 0 0 10%;
    float: left;
    width: 440px;
    h3{
      height: 42px;
      background: sprite($icons,serve2) no-repeat;}
  }
}
.serve-bg3{
  height: 600px;
  background: url(../images/3.png) left center no-repeat;
  article{
    margin: 22% 10% 0 0;
    float: right;
    width: 428px;
    h3{
      background: sprite($icons,serve3) no-repeat;}
  }
}
.serve-bg4{
  height: 400px;
  background: url(../images/4.png) right no-repeat;
  article{
    margin: 8% 0 0 10%;
    float: left;
    width: 406px;
    h3{
      background: sprite($icons,serve4) no-repeat;}
  }
}
.serve-btn{
  margin: 0 auto;
  @extend %w96p;
  border-top: 1px solid $bdr-color;
    em{
      margin: 45px auto 100px auto;
      width: 354px;
      height: 34px;
      line-height: 34px;
      background: $n-color;
      display: block;
      text-align: center;
      border-radius: 5px;
      @extend %trans;
        &:hover{
          background: $n-h-color;
        }
        a{
          display: block;
          font-size: 18px;
          font-size: 1.8rem;
          color: #ffffff;
        }
    }
}
/*产品介绍*/
.product-wrap{
  width: 100%;
  overflow: hidden;
}
.product-list{
    li{
      padding: 0 8%;
      background-color: #f6f6f6;
      height: 500px;
        &:nth-child(2n-1){
          background-color: #ededed;
        }
    }
    article{
      width: 740px;
      overflow: hidden;
    }
    h2{
      height: 32px;
      text-indent: -999em;
    }
    p{
      margin-top: 10px;
      color: $font-n-color2;
      font-size: 18px;
      font-size: 1.8rem;
    }
}
.product-item1 {
  background-image: url(../images/lsj.png);
  background-repeat: no-repeat;
  background-position: 8% center;
    article{
      margin-top: 10%;
      float: right;
    }
    h2{
     background: sprite($icons2,twz1) no-repeat;
    }
}

.product-item2{
  background-image: url(../images/bgj.png);
  background-repeat: no-repeat;
  background-position: right 8% center;
  background-position: right center\9;
    article{
      margin: 12% 0 0 0;
      float: left;
    }
    h2{
      background: sprite($icons2,twz2) no-repeat;
    }
}
.product-item3{
  background-image: url(../images/sjd.png);
  background-repeat: no-repeat;
  background-position: 8% center;
  article{
    margin-top: 10%;
    width: 680px;
    float: right;
  }
  h2{
    background: sprite($icons2,twz3) no-repeat;
  }
}
/*关于我们*/
.about-banner{
  height: 503px;
  border-bottom: 1px solid $bdr-color;
  background: url(../images/banner.jpg) 0 0 no-repeat;
}
.about-wrap{
  @extend %wrap;
}
.about-pro{
  margin: 95px auto 0 auto;
  @extend %w96p;
    h2 {
      @extend %about-tt;
      background: sprite($icons2,about-tt1) no-repeat;
    }
  p{
    margin-top: 20px;
    font-size: 16px;
    font-size: 1.6rem;
    color: $font-n-color2;
    line-height: 30px;
  }
}
.about-team{
  margin: 50px auto 0 auto;
  @extend %w96p;
  h2 {
    @extend %about-tt;
    background: sprite($icons2,about-tt2) no-repeat;

  }
  .about-team-list{
    padding-top: 22px;
    overflow: hidden;
      li{
        margin: 0 30px 30px 30px;
        position: relative;
        float: left;
        width: 246px;
        height: 292px;
        background: #ffffff;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 7px #f1f1f1;
        @extend %trans;
          &:hover .about-team-info{
            top: 0;
            border-radius: 5px;
          }
      }
  }
}
.about-team-pic{
  height: 222px;
  img{
    width: 100%;
  }
}
.about-team-info{
  position: absolute;
  top: 222px;
  padding: 14px;
  width: 218px;
  height: 292px;
  background: #ffffff;
  @extend %trans;
    h3{
      font-size: 20px;
      font-size: 2.0rem;
    }
    h4,p{
      font-size: 14px;
      font-size: 1.4rem;
      color: $font-n-color2;
    }
  p{
    margin-top: 5px;}
}
.about-subsidiary{
  margin: 25px auto 50px auto;
  @extend %w96p;
  h2 {
    @extend %about-tt;
    background: sprite($icons2,about-tt3) no-repeat;
  }
}
.about-subsidiary-list{

    li{
      padding: 30px 0 0 0;
      width: 50%;
      height: 132px;
      border-bottom: 1px solid $bdr-color;
      float: left;
        &:nth-child(2n)::after{
            content: '';
          position: relative;
          top: -120px;
          left: -10px;
          width: 1px;
          height: 130px;
          display: block;
          border-left: 1px solid $bdr-color;
        }
    }
    address{
      margin-left: 5px;
      height: 20px;
      line-height: 20px;
      margin-bottom: 15px;
      font-size: 16px;
      font-size: 1.6rem;
      color: $font-n-color2;
    }
    .cp-name{
      font-weight: bold;
      font-size: 18px;
      font-size: 1.8rem;
      color: $font-n-color;
    }
}
.cp-phone,.cp-address{
  padding-left: 26px;
}
.cp-phone{
  background: sprite($icons2,phone)  no-repeat;
}
.cp-address{
  background: sprite($icons2,address)  no-repeat;}

/*合作伙伴*/
.cooperation-wrap{
  @extend %wrap;
}
.cooperation-tt{
  height: 182px;
  overflow: hidden;
  h2{
    margin: 96px auto 0 auto;
    width: 378px;
    height: 36px;
    text-indent: -999em;
    background: sprite($icons2,coop1) no-repeat;
  }
}
.cooperation-bk{
  margin: 0 auto;
  @extend %w96p;
    h2{
      @extend %about-tt;
      background: sprite($icons2,coop2) no-repeat;
    }
}
.cooperation-list{
  padding: 32px 0 48px 0;
  overflow: hidden;
    li{
      margin: 0 40px;
      float: left;
      width: 316px;
      height: 306px;
    }

  img{
    width: 100%;}
  em{
    margin-top: 10px;
    display: block;
    font-size: 18px;
    font-size: 1.8rem;
    text-align: center;
  }
  i{
    margin-top: 4px;
    display: block;
    font-size: 16px;
    font-size: 1.6rem;
    text-align: center;
    color: $font-n-color2;
  }
}
.cooperation-list-pic-box{
    position: relative;
    width: 316px;
    height: 190px;
    display: block;
    border-radius: 5px;
    overflow: hidden;
    @extend %trans;
      &:hover .pic-box-btn{
        opacity: 1;
      }
      &:hover .pic-box-btn-icon{
        left: 50%;
      }
}
.pic-box-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  opacity: 0;
  @extend %trans;
}
.pic-box-btn-icon {
  padding: 10px;
  position: absolute;
  top: 50%;
  left: -60px;
  margin: -30px 0 0 -30px;
  width: 40px;
  height: 40px;
  display: block;
  background-color: #ffffff;
  border-radius: 5px;
  line-height: 35px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  @extend %trans;
    &:hover{
      border-radius: 50%;
    }
}