@charset "UTF-8";
@import "rest";

$font-n-color:#666;     //文字默认颜色
$font-h-color:#346eb4; //文字划过颜色

%trans{-webkit-transition: all .3s ease-in-out 0s;-moz-transition: all .3s ease-in-out 0s;-ms-transition: all .3s ease-in-out 0s; -o-transition: all .3s ease-in-out 0s;transition: all .3s ease-in-out 0s;}//通用transition

body {
  color: $font-n-color;
}
a{
  color: $font-n-color;
  &:hover{color: $font-h-color;}
}
.wrap-box{
  margin: 0 auto;
  width: 1280px;}
