@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  font-size: 62.5%; }

body {
  margin: 0;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

ol, ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

i, em, strong, span, address {
  font-style: normal; }

h1, h2 {
  font-size: 14px;
  font-size: 1.4rem; }

h3, h4 {
  font-size: 14px;
  font-size: 1.2rem; }

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  word-wrap: break-word; }

.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

.about-pro h2, .about-team h2, .about-subsidiary h2 {
  height: 40px;
  text-indent: -999em;
  border-bottom: 1px solid #a5a2a2; }

.icons-sprite {
  background: url('../images/icons-sd071258c88.png') no-repeat; }

.icons2-sprite {
  background: url('../images/icons2-sd09a3470da.png') no-repeat; }

.nav-list li, .tw-block, .tw-block-btn, .foot-nav li a, .about-team .about-team-list li, .about-team-info {
  -webkit-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -ms-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s; }

body {
  color: #666666;
  background: #313131; }

a {
  color: #666666; }
  a:hover {
    color: #346eb4; }

.wrap-box {
  margin: 0 auto;
  width: 1280px;
  background: #ffffff; }

.head {
  height: 120px;
  border-bottom: 1px solid #a5a2a2;
  overflow: hidden; }

.logo {
  float: left;
  margin: 40px 0 0 32px;
  width: 207px;
  height: 42px;
  overflow: hidden;
  text-indent: -999em;
  background: url('../images/icons-s0fd675534f.png') 0 -88px no-repeat; }
  .logo a {
    height: 42px;
    display: block; }

.nav-main {
  float: right;
  padding-right: 25px;
  height: 120px; }

.nav-list {
  position: relative;
  float: right;
  height: 120px;
  overflow: hidden; }
  .nav-list li {
    margin-top: 50px;
    float: left;
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-right: 2px solid #82898c; }
    .nav-list li:hover a {
      color: #545d62; }
    .nav-list li a {
      font-size: 18px;
      font-size: 1.8rem; }
    .nav-list li:nth-last-child(2) {
      border-right: 0 none; }
    .nav-list li:hover a {
      font-weight: bold; }
    .nav-list li:nth-child(1):hover ~ .active-line {
      left: 0; }
    .nav-list li:nth-child(2):hover ~ .active-line {
      left: 102px; }
    .nav-list li:nth-child(3):hover ~ .active-line {
      left: 204px; }
    .nav-list li:nth-child(4):hover ~ .active-line {
      left: 306px; }
    .nav-list li:nth-child(5):hover ~ .active-line {
      left: 408px; }
    .nav-list li:nth-child(6):hover ~ .active-line {
      left: 510px; }
    .nav-list li:nth-child(7):hover ~ .active-line {
      left: 612px; }
  .nav-list .active a {
    font-weight: bolder; }
  .nav-list .active-line {
    position: absolute;
    top: -50px;
    left: 0;
    height: 6px;
    border-right: 0 none;
    background: #e74c3c; }

.slide {
  height: 500px;
  overflow: hidden;
  border-bottom: 1px solid #a5a2a2; }

.banner-tt {
  *margin-bottom: 40px;
  height: 235px;
  overflow: hidden; }
  .banner-tt h2 {
    margin: 82px auto 0 auto;
    width: 860px;
    height: 46px;
    background: url('../images/icons-s0fd675534f.png') 0 -130px no-repeat;
    overflow: hidden;
    text-indent: -999em; }
  .banner-tt h3 {
    margin-top: 34px;
    font-size: 34px;
    text-align: center;
    font-family: Arial;
    color: #2b363c; }

.tw-item {
  margin: 54px auto 40px auto;
  width: 990px;
  height: 130px;
  overflow: hidden;
  *display: none; }

.tw-block {
  position: relative;
  top: 0;
  float: left;
  width: 33.33%;
  /*  height: 238px;*/
  text-align: center; }
  .tw-block span {
    position: relative;
    left: 50%;
    margin-left: -44px;
    width: 88px;
    height: 88px;
    border-radius: 5px;
    display: block; }
  .tw-block b {
    margin-top: 16px;
    display: block;
    font-size: 18px;
    font-size: 1.8rem; }
  .tw-block p {
    margin: 2px 30px 0 30px; }
  .tw-block:hover {
    top: -108px; }
    .tw-block:hover b, .tw-block:hover p {
      color: #666666; }

.tw-block-btn {
  position: relative;
  left: 50%;
  margin-left: -50px;
  margin-top: 14px;
  width: 100px;
  height: 26px;
  line-height: 26px;
  border-radius: 5px;
  text-align: center;
  background: #e74c3c;
  color: #ffffff;
  font-size: 10px;
  font-size: 1rem; }
  .tw-block-btn:hover {
    background: #545d62; }

.icon-hz {
  background: #e74c3c url('../images/icons-s0fd675534f.png') 0 0 no-repeat; }

.icon-qd {
  background: #e74c3c url('../images/icons-s0fd675534f.png') 0 -274px no-repeat; }

.icon-td {
  background: #e74c3c url('../images/icons-s0fd675534f.png') 0 -497px no-repeat; }

.foot {
  height: 95px;
  background: #1c1f21;
  overflow: hidden; }
  .foot em {
    font-size: 14px;
    font-size: 1.4rem;
    padding-left: 85px;
    line-height: 95px;
    color: #ffffff; }

.foot-nav {
  padding: 38px 60px 0 0;
  float: right; }
  .foot-nav li {
    margin-right: 30px;
    display: inline; }
    .foot-nav li a {
      font-size: 14px;
      font-size: 1.4rem;
      color: #6f6f6f; }
      .foot-nav li a:hover {
        color: #ffffff; }

/*服务介绍页*/
.serve-warp {
  width: 100%;
  overflow: hidden;
  background: #f7f7f7; }

.serve-tt {
  margin: 0 auto;
  width: 96%;
  height: 222px;
  border-bottom: 1px solid #a5a2a2;
  overflow: hidden; }
  .serve-tt em {
    margin: 94px auto 0 auto;
    width: 753px;
    height: 56px;
    display: block;
    background: url('../images/icons-s0fd675534f.png') 0 -218px no-repeat; }

.serve-section {
  margin: 0 auto;
  width: 96%;
  overflow: hidden; }
  .serve-section h3 {
    text-indent: -999em;
    height: 45px; }
  .serve-section p {
    margin-top: 10px;
    font-size: 16px;
    font-size: 1.6rem; }

.serve-bg1 {
  height: 600px;
  background: url(../images/1.png) 100px 36px no-repeat; }
  .serve-bg1 article {
    margin: 22% 10% 0 0;
    float: right;
    width: 430px; }
    .serve-bg1 article h3 {
      background: url('../images/icons-s0fd675534f.png') 0 -362px no-repeat; }

.serve-bg2 {
  height: 770px;
  background: url(../images/2.png) center no-repeat; }
  .serve-bg2 article {
    margin: 8% 0 0 10%;
    float: left;
    width: 440px; }
    .serve-bg2 article h3 {
      background: url('../images/icons-s0fd675534f.png') 0 -176px no-repeat; }

.serve-bg3 {
  height: 600px;
  background: url(../images/3.png) left center no-repeat; }
  .serve-bg3 article {
    margin: 22% 10% 0 0;
    float: right;
    width: 428px; }
    .serve-bg3 article h3 {
      background: url('../images/icons-s0fd675534f.png') 0 -452px no-repeat; }

.serve-bg4 {
  height: 400px;
  background: url(../images/4.png) right no-repeat; }
  .serve-bg4 article {
    margin: 8% 0 0 10%;
    float: left;
    width: 406px; }
    .serve-bg4 article h3 {
      background: url('../images/icons-s0fd675534f.png') 0 -407px no-repeat; }

.serve-btn {
  margin: 0 auto;
  width: 96%;
  border-top: 1px solid #a5a2a2; }
  .serve-btn em {
    margin: 45px auto 100px auto;
    width: 354px;
    height: 34px;
    line-height: 34px;
    background: #e74c3c;
    display: block;
    text-align: center;
    border-radius: 5px; }
    .serve-btn em:hover {
      background: #545d62; }
    .serve-btn em a {
      display: block;
      font-size: 18px;
      font-size: 1.8rem;
      color: #ffffff; }

/*产品介绍*/
.product-wrap {
  width: 100%;
  overflow: hidden; }

.product-list li {
  padding: 0 8%;
  background-color: #f6f6f6;
  height: 500px; }
  .product-list li:nth-child(2n-1) {
    background-color: #ededed; }
.product-list article {
  width: 740px;
  overflow: hidden; }
.product-list h2 {
  height: 32px;
  text-indent: -999em; }
.product-list p {
  margin-top: 10px;
  color: #919da4;
  font-size: 18px;
  font-size: 1.8rem; }

.product-item1 {
  background-image: url(../images/lsj.png);
  background-repeat: no-repeat;
  background-position: 8% center; }
  .product-item1 article {
    margin-top: 10%;
    float: right; }
  .product-item1 h2 {
    background: url('../images/icons2-secfd41ef70.png') 0 -196px no-repeat; }

.product-item2 {
  background-image: url(../images/bgj.png);
  background-repeat: no-repeat;
  background-position: right 8% center;
  background-position: right center\9; }
  .product-item2 article {
    margin: 12% 0 0 0;
    float: left; }
  .product-item2 h2 {
    background: url('../images/icons2-secfd41ef70.png') 0 -144px no-repeat; }

.product-item3 {
  background-image: url(../images/sjd.png);
  background-repeat: no-repeat;
  background-position: 8% center; }
  .product-item3 article {
    margin-top: 10%;
    width: 680px;
    float: right; }
  .product-item3 h2 {
    background: url('../images/icons2-secfd41ef70.png') 0 -248px no-repeat; }

/*关于我们*/
.about-banner {
  height: 503px;
  border-bottom: 1px solid #a5a2a2;
  background: url(../images/banner.jpg) 0 0 no-repeat; }

.about-wrap {
  width: 100%;
  overflow: hidden;
  background: #f6f6f6; }

.about-pro {
  margin: 95px auto 0 auto;
  width: 96%;
  overflow: hidden; }
  .about-pro h2 {
    background: url('../images/icons2-secfd41ef70.png') 0 0 no-repeat; }
  .about-pro p {
    margin-top: 20px;
    font-size: 16px;
    font-size: 1.6rem;
    color: #919da4;
    line-height: 30px; }

.about-team {
  margin: 50px auto 0 auto;
  width: 96%;
  overflow: hidden; }
  .about-team h2 {
    background: url('../images/icons2-secfd41ef70.png') 0 -96px no-repeat; }
  .about-team .about-team-list {
    padding-top: 22px;
    overflow: hidden; }
    .about-team .about-team-list li {
      margin: 0 30px 30px 30px;
      position: relative;
      float: left;
      width: 246px;
      height: 292px;
      background: #ffffff;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 0 7px #f1f1f1; }
      .about-team .about-team-list li:hover .about-team-info {
        top: 0;
        border-radius: 5px; }

.about-team-pic {
  height: 222px; }
  .about-team-pic img {
    width: 100%; }

.about-team-info {
  position: absolute;
  top: 222px;
  padding: 14px;
  width: 218px;
  height: 292px;
  background: #ffffff; }
  .about-team-info h3 {
    font-size: 20px;
    font-size: 2.0rem; }
  .about-team-info h4, .about-team-info p {
    font-size: 14px;
    font-size: 1.4rem;
    color: #919da4; }
  .about-team-info p {
    margin-top: 5px; }

.about-subsidiary {
  margin: 25px auto 0 auto;
  width: 96%;
  overflow: hidden; }
  .about-subsidiary h2 {
    background: url('../images/icons2-secfd41ef70.png') 0 -48px no-repeat; }

.about-subsidiary-list li {
  padding: 30px 0 0 0;
  width: 50%;
  height: 132px;
  border-bottom: 1px solid #a5a2a2;
  float: left; }
  .about-subsidiary-list li:nth-child(2n)::after {
    content: '';
    position: relative;
    top: -120px;
    left: -10px;
    width: 1px;
    height: 130px;
    display: block;
    border-left: 1px solid #a5a2a2; }
.about-subsidiary-list address {
  margin-left: 5px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 15px;
  font-size: 16px;
  font-size: 1.6rem;
  color: #919da4; }
.about-subsidiary-list .cp-name {
  font-weight: bold;
  font-size: 18px;
  font-size: 1.8rem;
  color: #666666; }

.cp-phone, .cp-address {
  padding-left: 26px; }

.cp-phone {
  background: url('../images/icons2-secfd41ef70.png') 0 -340px no-repeat; }

.cp-address {
  background: url('../images/icons2-secfd41ef70.png') 0 -300px no-repeat; }

/*@ sourceMappingURL=index.css.map */